* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.6;
  background: lightcyan;
  font-size: 21px;
}

#search-bar {
  color: #0068a9;
}

.drink, .ingredient, .instructions {
  padding-top: 50px;
  color: #0068a9;
}

.category, .title {
  color: #F98E04;
}

.img {
  width: 500px;
  height: 500px;
}

.btn {
  color: #0068a9;
}